@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aktifkan smooth scrolling untuk seluruh halaman */
html {
    scroll-behavior: smooth;
}

.modal-hidden {
    display: none !important;
}
.modal-visible {
    display: flex !important;
    justify-content: center;
    align-items: center;
}